/node_modules
/public/hot
/public/storage
/public/site
/public/reports
/public/slides
/public/blog
/public/campus-tour
/public/globaldirect
/public/direct
/public/kuali
/public/myapplication
/public/myapplication_laravel
/public/test
/public/appeals
/public/.htaccess
/public/error_log.txt
/public/error_log
/storage/*.key
.env
.env.backup
.htaccess
.phpunit.result.cache
error_log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
google4faca2b31ced9ddd.htmlh
